{% extends 'base.html' %}
{% load static %}

    {% block statics_file %}
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
        <style>
            .task-table-expand {
                font-size: 0;
            }

            .task-table-expand label {
                width: 100px;
                color: #99a9bf;
            }

            .task-table-expand .el-form-item {
                margin-right: 0;
                margin-bottom: 0;
            }

            .el-button a, a:hover, a:focus, a:focus-within, a:active, a:visited {
                color: inherit;
            }

        </style>

    {% endblock %}
{% block body_html %}
    <body>
    {% csrf_token %}
    <div id="app">
        <el-container>
            <el-header>
                <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                    <el-menu-item index="1">任务列表</el-menu-item>
                    <el-row style="width: 50%; margin-right: 0; float: right">
                        {% if not request.user.is_authenticated %}
                            <el-button type="primary" style="float:right; text-align: right; font-size: 12px; margin-top: 10px">
                                <a href="/accounts/login/" style="text-decoration: none;">登录</a>
                            </el-button>
                        {% else %}
                            <el-button type="primary" style="float:right; text-align: right; font-size: 12px; margin-top: 10px;">
                                <a href="/accounts/logout/" style="text-decoration: none;">注销</a>
                            </el-button>
                        {% endif %}
                    </el-row>
                </el-menu>
            </el-header>

            <el-main>
                <el-table
                        :data="tableData"
                        style="width: 100%" @expand-change="expandChange" ref="table">
                    <el-table-column type="expand">
                        <template slot-scope="props">
                            <el-form label-position="left" width="100%" class="task-table-expand">
                                <el-form-item label="任务配置">
                                    <span>[[ props.row.config ]]</span>
                                </el-form-item>
                                <el-form-item label="任务创建时间">
                                    <span>[[ props.row.c_time ]]</span>
                                </el-form-item>
                                <el-form-item label="任务修改时间">
                                    <span>[[ props.row.m_time ]]</span>
                                </el-form-item>
                                <el-form-item label="实时日志显示" size="large" ref="logshow">
                                        <el-input
                                                type="textarea"
                                                :rows="20"
                                                placeholder=""
                                                v-model="props.row.log">
                                        </el-input>
                                </el-form-item>
                            </el-form>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="tasks ID"
                            prop="id">
                    </el-table-column>
                    <el-table-column
                            label="描述"
                            prop="name">
                    </el-table-column>
                    <el-table-column
                            label="配置"
                            prop="config.name">
                    </el-table-column>
                    <el-table-column
                            label="代理"
                            prop="proxy">
                    </el-table-column>
                    <el-table-column
                            label="status"
                            prop="status">
                    </el-table-column>
                    <el-table-column
                            label="pid"
                            prop="pid">
                    </el-table-column>
                    <el-table-column
                            label="创建时间"
                            prop="c_name">
                    </el-table-column>
                    <el-table-column
                            fixed="right"
                            label="操作"
                            width="100">
                        <template slot-scope="scope">
                            <el-button @click="handleStart(scope.row)" type="text" size="small" v-show="scope.row.status == 'pending'">
                                运行
                            </el-button>
                            <el-button @click="handleStop(scope.row)" type="text" size="small"
                                       v-show="scope.row.status == 'running'">
                                停止
                            </el-button>
                            <el-button @click="handleRefresh(scope.row)" type="text" size="small"
                                       v-show="scope.row.status == 'running'">
                                获取运行日志
                            </el-button>
                            <el-button @click="handleEdit(scope.row)" type="text" size="small">
                                编辑
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-main>
        </el-container>
    </div>
    </body>
    <!-- import Vue before Element -->
    <script>
        var app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: function () {
                return {
                        activeIndex: '1',
                        tableData: [],
                        logmsg: ""
                    };
            },
            mounted: function() {
                that = this;
                $.ajax({
                    type: 'GET',
                    url: 'webadmin/tasks/',
                    contentType: "application/json",
                    success: function (data) {
                        that.tableData = data;
                    }
                });
                setInterval(function () {
                    if (that.$refs.table.store.states.expandRows.length > 0) {
                        var data = that.$refs.table.store.states.expandRows[0];
                        var msg = that.handleRefresh(data);
                        for (var i = 0; i < that.tableData.length; i++) {
                            if(that.tableData[i].id === data.id) {
                                that.tableData[i].log = that.logmsg;
                            }
                        }
                    }
                }, 5000);
            },
            methods: {
                expandChange(row, expandedRows) {
                    if (expandedRows.length > 1) {
                        expandedRows.shift()
                    }
                },
                handleSelect(key, keyPath) {
                },
                handleStart(row) {
                    that = this;
                    $.ajax({
                        type: 'POST',
                        url: 'webadmin/tasks/' + row.id + '/run_tasks/',
                        contentType: "application/json",
                        beforeSend: function (xhr, settings) {
                            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        success: function (data) {
                            that.$alert(data.msg, '提示信息', {
                                confirmButtonText: '确定',
                                callback: action => {
                                    window.location.reload(true);
                                }
                            });
                        }
                    });
                },
                handleStop(row) {
                    $.ajax({
                        type: 'POST',
                        url: 'webadmin/tasks/' + row.id + '/stop_tasks/',
                        contentType: "application/json",
                        beforeSend: function (xhr, settings) {
                            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        success: function (data) {
                            that.$alert(data.msg, '提示信息', {
                                confirmButtonText: '确定',
                                callback: action => {
                                    window.location.reload(true);
                                }
                            });
                        }
                    });
                },
                handleRefresh(row) {
                    this.$refs.table.toggleRowExpansion(row, true);
                    $.ajax({
                        type: 'GET',
                        url: 'webadmin/tasks/' + row.id + '/tasks_logs/',
                        contentType: "application/json",
                        beforeSend: function (xhr, settings) {
                            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        },
                        success: function (data) {
                            if (data.status == 0) {
                                row.log = data.msg;
                                that.logmsg = data.msg;
                            }
                        }
                    });
                },
                handleEdit(row) {
                    window.open(
                        '/admin/webadmin/buytasks/' + row.id + '/change/',
                        '_blank'
                    );
                }
            }
        })
    </script>
{% endblock %}
